In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plt

In [5]:
airbnb_cal_data = pd.read_csv('calendar.csv')

In [12]:
airbnb_cal_data[0:10]

   listing_id        date available      price
0      675177  2019-06-28         t  $2,560.00
1      209532  2019-08-19         t  $5,000.00
2      209532  2019-08-18         t  $5,000.00
3      209532  2019-08-17         t  $5,000.00
4      209532  2019-08-16         t  $5,000.00
5      209532  2019-08-15         t  $5,000.00
6      209532  2019-08-14         t  $5,000.00
7      209532  2019-08-13         t  $5,000.00
8      209532  2019-08-12         t  $5,000.00
9      209532  2019-08-11         t  $5,000.00

In [15]:
airbnb_cal_data['listing_id'].isnull().value_counts()

False    7722670
Name: listing_id, dtype: int64

In [8]:
# Let's do some analysis, counting...

In [34]:
airbnb_cal_data[0:100].groupby(['listing_id', 'date'])['date'].sum()

listing_id  date
3191        2019-08-16    2019-08-16
            2019-08-17    2019-08-17
            2019-08-18    2019-08-18
            2019-08-19    2019-08-19
            2019-08-20    2019-08-20
            2019-08-21    2019-08-21
            2019-08-22    2019-08-22
            2019-08-23    2019-08-23
            2019-08-24    2019-08-24
            2019-08-25    2019-08-25
            2019-08-26    2019-08-26
            2019-08-27    2019-08-27
            2019-08-28    2019-08-28
            2019-08-29    2019-08-29
            2019-08-30    2019-08-30
            2019-08-31    2019-08-31
            2019-09-01    2019-09-01
            2019-09-02    2019-09-02
            2019-09-03    2019-09-03
            2019-09-04    2019-09-04
            2019-09-05    2019-09-05
            2019-09-06    2019-09-06
            2019-09-07    2019-09-07
            2019-09-08    2019-09-08
            2019-09-09    2019-09-09
            2019-09-10    2019-09-10
            2019-09-11    2019-09-11
            2019-09-12    2019-09-12
            2019-09-13    2019-09-13
            2019-09-14    2019-09-14
                             ...
209532      2019-08-13    2019-08-13
            2019-08-14    2019-08-14
            2019-08-15    2019-08-15
            2019-08-16    2019-08-16
            2019-08-17    2019-08-17
            2019-08-18    2019-08-18
            2019-08-19    2019-08-19
675177      2019-06-06    2019-06-06
            2019-06-07    2019-06-07
            2019-06-08    2019-06-08
            2019-06-09    2019-06-09
            2019-06-10    2019-06-10
            2019-06-11    2019-06-11
            2019-06-12    2019-06-12
            2019-06-13    2019-06-13
            2019-06-14    2019-06-14
            2019-06-15    2019-06-15
            2019-06-16    2019-06-16
            2019-06-17    2019-06-17
            2019-06-18    2019-06-18
            2019-06-19    2019-06-19
            2019-06-20    2019-06-20
            2019-06-21    2019-06-21
            2019-06-22    2019-06-22
            2019-06-23    2019-06-23
            2019-06-24    2019-06-24
            2019-06-25    2019-06-25
            2019-06-26    2019-06-26
            2019-06-27    2019-06-27
            2019-06-28    2019-06-28
Name: date, Length: 100, dtype: object

In [36]:
# This doesn't tell us a lot. Since no information was giving with the data, we have to create meaning or find it..