In [1]:
import pandas as pd
import matplotlib.pylab as plt 
%matplotlib inline 

plt.rcParams['figure.figsize']=(20, 10)


df = pd.read_csv('https://query.data.world/s/f2b3d6eumoss6l3k5ybglfaddfa7az')

In [2]:
df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...